<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testng Cucumber Suite">
  <test name="Run All Tests">
  <classes>
    <class name="TestClass"></class>
    <class name="cucumber.api.testng.TestNGScenarioTest"></class>
  </classes>
  
  </test> <!-- Test -->
</suite> <!-- Suite -->
